emacs.d/url
emacs.d/.emacs.desktop
emacs.d/.mc-lists.el
emacs.d/elpa
emacs.d/auto-save-list
emacs.d/ac-comphist.dat

vim/bundle/
vim/.netrwhist

zsh/vendor/

config/*
!config/fish/
config/fish/fish_history
config/fish/fishd.20c9d04343ad
