/* SQUARED CATPPUCCIN THEME FOR ROFI */
/* Based on rounded-nord-dark by Newman Sanchez */

@import "catppuccin-mocha"

* {
    font:               "Maple Mono NF 12";

    background-color:   transparent;
    text-color:         @text;

    margin:     0px;
    padding:    0px;
    spacing:    0px;
}

window {
    location:       north;
    y-offset:       calc(50% - 176px);
    width:          480;

    background-color:   @base;
    border-color:       @surface0;
    border:             2px;
}

mainbox {
    padding:    12px;
}

inputbar {
    background-color:   @mantle;
    border-color:       @mauve;

    border:         2px;

    padding:    8px 16px;
    spacing:    8px;
    children:   [ entry ];
}

entry {
    text-color:         @text;
    placeholder:        "Search apps\u2026";
    placeholder-color:  @overlay0;
}

message {
    margin:             12px 0 0;
    border-color:       @surface1;
    background-color:   @surface1;
}

textbox {
    padding:    8px 24px;
}

listview {
    background-color:   transparent;

    margin:     12px 0 0;
    lines:      8;
    columns:    1;

    fixed-height: false;
}

element {
    padding:    8px 16px;
    spacing:    8px;
}

element normal active {
    text-color: @blue;
}

element alternate active {
    text-color: @blue;
}

element selected normal, element selected active {
    background-color:   @surface0;
}

element-icon {
    size:           1em;
    vertical-align: 0.5;
}

element-text {
    text-color: inherit;
}
